<launch>
  <!-- app master -->
  <arg name="master" default="true" doc="launch master if enabled"/>
  <arg name="master_address" default="localhost" doc="address for app_manager master"/>
  <arg name="master_port" default="11313" doc="port for app_manager master"/>

  <!-- app list -->
  <arg name="use_applist" default="false" doc="load apps from applist argument"/>
  <arg name="applist" default="" doc="app dirs (space separated)"/>

  <!-- respawn -->
  <arg name="respawn" default="false" doc="respawn app_manager"/>

  <!-- internal use -->
  <arg name="app_manager_args" default="--applist $(arg applist)" if="$(arg use_applist)"/>
  <arg name="app_manager_args" default=""                     unless="$(arg use_applist)"/>

  <node pkg="app_manager" type="appmaster" name="appmaster"
        args="-p $(arg master_port)" if="$(arg master)" respawn="$(arg respawn)"/>
  <node pkg="app_manager" type="app_manager" name="app_manager"
        args="$(arg app_manager_args)"
        output="screen" respawn="$(arg respawn)">
    <param name="interface_master" value="http://$(arg master_address):$(arg master_port)"/>
  </node>
</launch>
